$primary: #b8784e;
$primaryDark: #704a30;
$darkTrans: rgba(0,0,0,0.9);
$trans: rgba(0,0,0,.5);
* {
    margin: 0px;
    padding: 0px;
}
@font-face{
    src: url("../fonts/Questrial-Regular.ttf");
    font-family: "Questrial";
}
html {
    scroll-behavior: smooth;
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: $primary;
        &:hover{
            background: rgba($primary, .8); 
        }
    }
}
body {
    font-family: "Questrial";
}
ul {
    list-style-type: none;
}
a{
    color: $primary;
    &, &:hover{
        color: $primary;
        text-decoration: none;
    }
}
.color-primary {
    color: $primary;
}
.bg-darkTransparent{
    background: rgba(#000, .8);
}
.button {
    color: #fff;
    border: 1px solid $primary;
    padding: 7px;
    background: $darkTrans;
    transition: all .4s;
    &:hover{
        background-color: $trans;
        border-color: $primary;
        color: #fff;
    }
}
.primary-button {
    color: #fff;
    background: $primary;
    height: 32px;
    transition: all .3s;
    &:hover {
        background:rgba($primary, .8);
        color: #fff;
    }

}
input, select, textarea,  .primary-button {
    transition: all .3s;
    &:focus, &:active {
        outline: none;
        border-color: $primary !important;
        box-shadow: 0 0 0 0.2rem rgba($primary,.25) !important;
    }
}
#close-sidebar, #close-product-modal {
    position: absolute;
    top: 47px;
    right: 30px;
    #close-sidebar-wrapper ,#close-product-modal-wrapper {
        width: 30px;
        height: 30px;
        .close-button-slash {
            position: absolute;
            top: 15px;
            right: 0px;
            width: 30px;
            height: 2px;
            transform: rotate(45deg);
            background-color: #000;
            &:last-of-type{
                transform: rotate(-45deg);
            }
        }
    }
    &#close-product-modal {
        top: 30px;
        right: 20px;
    }
}
#loading {
    z-index: 1200;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    width: 100vw;
    height: 100vh;
}
#header {
    top: 0px;
    left: 0px;
    height: 100px;
    z-index: 1000;
    transition: all .3s; 
    &.bg-darkTransparent{
        height: 80px;
    }
    #logo {
        height: 60px;
    }
    #logo-title {
        @media screen and (max-width: 400px){
            display: none;
        }
    }
    #menu, #responsive-menu {
        a {
            color: #fff;
            padding: 2px;
            &.active, &:hover{
                border-bottom: 1px solid $primary;
            }
        }
    }
    #side-togglers{
        a {
            color: #fff;
            .far, .fas{
                font-size: 24px;
                @media screen and (max-width: 400px){
                    font-size: 20px;
                }
            }
            .badge {
                position: absolute;
                font-size: 10px;
                bottom: -10px;
                right: -5px;
            }
        }
    }
    #responsive-menu-wrapper {
        display: none;
        top: 80px;
        left: 0px;
    }
    
}
#sidebar-fix {
    display: none;
    z-index: 950;
    height: 100vh;
    width: 10px;
    position: absolute;
    background: rgba($primary,.7);
    backdrop-filter: blur(5px);
    top: 0px;
    right: 0px;
}
#sidebar-overlay {
    display: none;
    z-index: 1100;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: $trans;
    #sidebar{
        overflow-y: scroll;
        position: fixed;
        right: -700px;
        top: 0px;
        background: white;
        width: 100%;
        @media screen and (min-width: 768px) {
            width: 600px;
        }
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba(0,0,0, .4);
        }
        #sidebar-icon{
            position: absolute;
            font-size: 24px;
            left: 40px;
            top: 50px;
        }
        .sidebar-item{
            .product-link {
                width: 30%;
                max-width: 150px;
            }
            &>div{
                width: 60%;
                .cart-item-quantity{
                    width: 60px;
                }
            }
        }
        .form-success {
            color: rgba($primary, .6);
            font-size: 2em;
        }
    }
}
#home {
    #hero {
        max-width: 100vw;
        height: 100vh;
        background-image: url("../img/coffee-slider-1.webp");
        background-size: cover;
        .hero-text {
            max-width: 60%;
            z-index: 900;
            padding: 5px;
            background: $trans;
            text-shadow: 3px 3px 10px #000;
        }
        .hero-button {
            z-index: 900;
        }
        @media screen and (min-width: 992px) {
            h1.hero-text{
                font-size: 50px;
            }
            p.hero-text{
                font-size: 20px;
                max-width: 50%;
            }
        }
        #slider {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: inherit;
            .slick-track{
                height: 100vh;
            }
            .slick-prev, .slick-next {
                position: absolute;
                top: 50vh;
                z-index: 900;
                background: rgba(0,0,0,.5);
                color: #fff;
                padding: 10px 15px;
                border-radius: 50%;
            }
            .slick-prev{
                left: 15px;
            }
            .slick-next{
                right: 15px;
            }
            img {
                object-fit: cover;
            }
        }
    }
}
#free-shipping-banner {
    background: $primary;

}
#product-modal-overlay {
    display: none;
    z-index: 1100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $trans;
    overflow-y: scroll;
    #product-modal-wrapper{
            overflow-y: scroll;
        #product-modal{
            background: white;
            width: 90%;
            @media screen and (min-width: 992px){
                width: 900px;
            }
            &::-webkit-scrollbar {
                width: 5px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: rgba(0,0,0, .4);
            }
            .product-modal-discount {
                background: rgba($primary, .6);
            }
        }
        #add-to-wishlist {
            span {
                position: relative;
                top: 5px;
                font-size: 1.6em;
            }
        }
    }
    
}
#new-arrivals, #discounted {
     margin: 0 80px;
     @media screen and (min-width: 1300px) {
        margin: 0;
     }
    .slick-prev, .slick-next {
        position: absolute;
        top: 30%;
        z-index: 900;
        background: rgba(0,0,0,.5);
        color: #fff;
        padding: 10px 15px;
        border-radius: 50%;
    }
    .slick-prev{
        left: -50px;
    }
    .slick-next{
        right: -50px;
    }
}
.product-link {
    display: block;
    transition: filter .2s;
    &:hover{
        filter: brightness(80%);
    }
    .product-discount {
        position: absolute;
        top: 0px;
        left: 0px;
        background: rgba($primary, .6);

    } 
    .product {
        .product-price {
            font-size: 20px;
        }
    }  
}
.cart-item-quantity {
    width: 40px;
    height: 32px;
}
#visit-shop{
    background-image: url("../img/visit-shop.jpg");
    background-attachment: fixed;
}
footer {
    #footer-company-info {
        img {
            width: 70px;
        }
    }
    #footer-links{
        #footer-links-title {
            border-bottom: 1px solid $primary;
        }
    }
}
.page-image {
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    h1,h2 {
        background: $trans;
        text-shadow: 3px 3px 10px #000;
    }
}
//SHOP
#shop-image{
    background-image: url("../img/shop.jpg");
}
#shop-products {
    max-width: 1500px;
    #shop-products-filters {
        h5 {
            display: inline-block;
            border-bottom: 1px solid $primary;
        }
        
    }
    #shop-products-grid-wrapper {
        span {
            color: $primary;
        }
    }
    #pagination {
        a.active {
            background: $primary;
            color: #fff;
            border-color: $primary !important;
        }
    }
}
//CONTACT
#contact-image{
    background-image: url("../img/contact.jpg");
}
#contact {
    h3 {
        border-bottom: 1px solid $primary;
    }
    #contact-info {
        span {
            font-size: 1.5em;
            color: $primary;
        }
    }
}

//AUTHOR
#author{
    #author-image{
        background-image: url("../img/author.jpg");
    }
}